*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.maincontainer{
    position: relative;
    width: 250px;
    height: 320px;
}
.thecard{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.thecard:hover{
    transform: rotateY(180deg);

}
.thefront{
    position: absolute;
    height: 100%;
    width:100%;
    backface-visibility: hidden;
    background: red;
    color: #333;

}
.theback{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background: blue;
    color: #333;
    transform: rotateY(180deg);

}